@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body {
  background: url("./img/fundo/cielo-estrellado 7.svg");
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.logo {
  width: 450px;
}

ul,
li {
  font-family: "IBM Plex Mono", monospace;
  list-style: none;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #87f54e;
  padding-left: 10px;
  border-radius: 30em;
}

.borda_texto {
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu,
.menu-inferior {
  display: flex;
}

.menu,
.menu-inferior,
li {
  margin-left: 30px;
  gap: 20px;
}

.logo-menu {
  display: none;
}

nav {
  display: flex;
  margin: 30px;
}

.planets {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 50vh;
}

.images-1,
.images-2,
.images-3,
.images-4,
.images-5,
.images-6,
.images-7,
.images-8,
.images-9,
.images-10,
.images-11,
.images-12,
.images-13,
.images-14,
.images-15 {
  position: absolute;
}

.images-1 {
  top: 100px;
  left: 82px;
}

.images-2 {
  top: 260px;
  left: 400px;
}

.images-3 {
  top: 140px;
  left: 620px;
}

.images-4 {
  top: 180px;
  left: 890px;
}

.images-5 {
  top: 120px;
  right: 50px;
}

.images-6 {
  top: 450px;
  left: 40px;
}

.images-7 {
  top: 400px;
  left: 300px;
}

.images-8 {
  top: 360px;
  left: 520px;
}

.images-9 {
  top: 450px;
  right: 350px;
}

.images-10 {
  top: 230px;
  right: 70px;
}

.images-11 {
  top: 720px;
  left: 90px;
  bottom: 200px;
}

.images-12 {
  top: 610px;
  left: 280px;
}

.images-13 {
  top: 660px;
  left: 620px;
}

.images-14 {
  top: 780px;
  right: 430px;
}

.images-15 {
  top: 700px;
  right: 180px;
}

main {
  flex-grow: 1;
}

footer {
  display: auto;
  height: 115px;
  display: flex;
  background: #272727;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  margin-top: auto;
}

.menu,
.menu-footer {
  font-size: 20px;
  justify-content: space-evenly;
  color: white;
  font-family: "IBM Plex Mono", monospace;
}

.footerzim {
  display: flex;
}

.footerzim-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.git {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  justify-content: center;
}

.logo-git {
  display: flex;
  justify-content: space-around;
}

.border {
  display: flex;
  align-items: center;
  border-left: white 1px solid;
}

.git p {
  margin-top: 0;
}

@media screen and (max-height: 1000px) {
  footer {
    height: 140px;
    position: relative;
    width: 100%;
    transform: translate(0px, 340px);
  }
}

@media (max-width: 376px) {
  .menu,
  .menu-respon {
    display: none;
  }

  .logo {
    width: 343px;
  }

  .logo-menu {
    display: flex;
  }

  .images-1 {
    width: 126px;
    height: 125px;
    top: 127px;
    left: 91px;
  }

  .images-2 {
    width: 67px;
    height: 67px;
    top: 433px;
    left: 63px;
  }

  .images-3 {
    width: 133px;
    height: 133px;
    top: 515px;
    left: 18px;
  }

  .images-4 {
    width: 121px;
    height: 121px;
    top: 879px;
    left: 30px;
  }

  .images-5 {
    width: 84px;
    height: 84px;
    top: 837px;
    left: 350px;
  }

  .images-6 {
    width: 125px;
    height: 126px;
    top: 291px;
    right: 30px;
  }

  .images-7 {
    width: 95px;
    height: 94px;
    top: 217px;
    left: 264px;
  }

  .images-8 {
    width: 87px;
    height: 88px;
    top: 548px;
    left: 272px;
  }

  .images-9 {
    width: 182px;
    height: 182px;
    top: 636px;
    left: 110px;
  }

  .images-10 {
    width: 240px;
    height: 240px;
    top: 945px;
    left: 127px;
  }

  .images-11 {
    display: none;
  }

  .images-12 {
    width: 216px;
    height: 215px;
    top: 319px;
    left: 152px;
  }

  .images-13 {
    width: 65px;
    height: 66px;
    top: 782px;
    left: 11px;
  }

  .images-14 {
    width: 127px;
    height: 127px;
    top: 1149px;
    left: 24px;
  }

  .images-15 {
    width: 88px;
    height: 89px;
    top: 1209px;
    left: 222px;
  }

  footer {
    width: 435px;
    height: auto;
    position: relative;
    flex-direction: column;
    transform: translate(0px, 920px);
  }

  .footerzim-link {
    flex-direction: column;
    align-items: center;
  }

  .footerzim-link .border {
    border: 0;
  }

  .menu-inferior {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .menu-inferior a {
    padding: 0px;
  }

  .menu-inferior li,
  .menu-inferior ul,
  .border {
    margin: 0;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
  }

  .git {
    justify-content: center;
    align-items: center;
  }

  .git p {
    margin-top: 0;
    font-weight: 700;
    font-size: 18px;
  }

  .logo-git {
    gap: 10px;
  }
}
